.vs/

/WebPConverter/x64/Debug/WebPConverter.tlog/CL.write.1.tlog
/WebPConverter/x64/Debug/WebPConverter.tlog/unsuccessfulbuild
/WebPConverter/x64/Debug/WebPConverterDlg.obj
/WebPConverter/x64/Debug/vc143.idb
/WebPConverter/x64/Debug/vc143.pdb
/WebPConverter/x64/Debug/WebPConverter.ilk
/WebPConverter/x64/Debug/WebPConverter.log
/WebPConverter/x64/Debug/WebPConverter.obj
/WebPConverter/WebPConverter.aps
/x64/Debug/WebPConverter.exe
/x64/Debug/WebPConverter.pdb
